@page
@model SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}
@if (Model.myList != null)
{
     <ul class="list-group">
        @foreach(string sentence in Model.myList){
            <div>@sentence</div>
        }
    </ul>
}
